<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Category:</b>
  <%= @question.category %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @question.difficulty %>
</p>

<p>
  <b>Choices:</b>
  
  <% for answer in @question.answers %>
    <p><%=h answer.answer %></p>
  <% end %>

  <% @question.answers.each do |answer| %>
	<p><%= "Answer: #{answer.answer}, Correct: #{answer.correct}" %></p>
  <% end %>	  
</p>


<%= link_to 'Add Answer', new_answer_path(:question_id => @question.id) %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
