<div class="action-bar">
  <div class="left">
    <% if current_user.is_admin? %>
      <h1>All Content Sets</h1>
    <% else %>
      <h1>My Content Sets</h1>
    <% end %>
  </div>
  <div class="right">
   <%= link_to 'Add New Content Set', new_content_set_path, :class => 'btn btn-primary' %>
  </div>
</div>

<% if @content_sets.length>=1 %>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>Active</th>
      <th>Name</th>
      <% if current_user.is_admin? %>
        <th>Belongs To</th>
      <% end %>
      <th>Questions</th>
      <th>Last Updated</th>
      <th></th>
      <th></th>
    </tr>

  <% @content_sets.each do |content_set| %>
    <tr>
      <td><div class="number-id"><%= content_set.id %></div></td>
      <td>
        <% if content_set.active %>
          <%= link_to content_set, :rel => "tooltip", :title => "Active content sets will show in games" do%>
            <div class="active-label active">
              ACTIVE
          <% end %>
        <% else %>
          <%= link_to content_set, :rel => "tooltip", :title => "Inactive content sets won't show in games" do%>
            <div class="active-label">
              INACTIVE
            </div>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to content_set.name, content_set %></td>
      <% if current_user.is_admin? %>
        <td>
          <% if content_set.user %>
            <%= content_set.user.username %>
          <% end %>
        </td>
      <% end %>
      <td><%= content_set.questions.count %></td>
      <td><%= content_set.updated_at.strftime("%Y-%m-%d %r") %></td>
      <td>
        <%= link_to(image_tag('edit.png'), edit_content_set_path(content_set), :class=>'action-btn') %>
      </td>
      <td>
        <%= link_to(image_tag('delete.png'), content_set, :class=>"action-btn",  method: :delete, data: { confirm: 'Are you sure you want to delete this content set?' }) %>
      </td>
    </tr>
  <% end %>
  </table>

<% else %>
  <h4>No content sets created yet.</h4>
<% end %>
