<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Portal</title>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Teacher Portal</a>
        <ul class="nav">
          <li>
            <%= link_to "Questions", questions_path %>
          </li>
          <li>
            <%= link_to "Content Sets", content_sets_path %>
          </li>
          <% if current_user && current_user.is_admin? %>
            <li>
              <%= link_to "Question Categories", categories_path %>
            </li>
            <li>
              <%= link_to "Accounts", users_path %>
            </li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
            <% if current_user %>
              <li>
                <%= link_to "User: " + current_user.username, edit_user_path(current_user) %>
              </li>
              <li>
                <% if current_user.is_admin? %>
                  <a>ADMIN ACCOUNT</a>
                <% elsif current_user.is_teacher? %>
                  <a>TEACHER ACCOUNT</a>
                <% end %>
              </li>
              <li>
                <%= link_to "Logout", logout_path %>
              </li>
            <% else %>
              <li>
                <%= link_to "Login", login_path %>
              </li>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
